body {
    background: #eee;
    display: flex;
    justify-content: center;
}
form {
    margin-right: 10px;
}
input[type="text"], input[type="submit"], input[type="number"], textarea {
    display: block;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100px;
}
input[type="submit"] {
    margin: 0 auto;
    background: navy;
    color: white;
    border: 0;
    transition: 0.4s;
}
input[type="submit"]:hover {
    cursor: pointer;
    background: #555;
}
textarea {
    width: 180px;
    resize: none;
}
textarea:first-of-type {
    height: 175px;
}
textarea.giveaway {
    height: 50px;
}